<div style="text-align:center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <form (submit)="getScore()" #githubForm="ngForm" class="form">
    <div class="form-group">
      <label>Github Username: </label>
      <input type="text" name="username" [(ngModel)]="username" required>
    </div>
    <button type='submit' [disabled]="!githubForm.valid">Calculate my Github Score</button>
  </form>
  <div class="text-center">
    <h2>Score: {{score}}</h2>
    <h4 [class]="status[0]">{{status[1]}}</h4>
  </div>
</div>

